.navbar {
    display: flex;                /* Sử dụng Flexbox */
    justify-content: space-between; /* Căn các phần tử cách đều */
    align-items: left;           /* Căn giữa theo chiều dọc */
    padding: 10px;            /* Khoảng cách trong navbar */
    background-color: #000000; /* Đường kẻ dưới */
}

